# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml

# gradle
build
.gradle
.kotlin

# other
eclipse
run
runs

src/generated

# docs
node_modules
/docs/.vitepress/cache
package-lock.json
